<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.UserDao" >
  <resultMap id="UserMap" type="com.example.demo.pojo.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="CHAR" />
    <result column="account" property="account" jdbcType="CHAR" />
    <result column="user_password" property="userPassword" jdbcType="CHAR" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="age" property="age" jdbcType="TINYINT" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="email" property="email" jdbcType="CHAR" />
    <result column="ip" property="ip" jdbcType="INTEGER" />
    <result column="lat" property="lat" jdbcType="DECIMAL" />
    <result column="lng" property="lng" jdbcType="DECIMAL" />
    <result column="create_user_name" property="createUserName" jdbcType="CHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user_name" property="updateUserName" jdbcType="CHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="phone" property="phone" jdbcType="CHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="head_img_url" property="headImgUrl" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="CHAR" />
  </resultMap>
  <sql id="User_List" >
    user_id, user_name, account, user_password, sex, age, birthday, email, ip, lat, lng, 
    create_user_name, create_user_id, create_time, update_user_name, update_user_id, 
    update_time, phone, state, head_img_url, is_deleted, version, remarks
  </sql>
  <select id="selectByPrimaryKey" resultMap="UserMap" parameterType="java.lang.Integer" >
    select 
    <include refid="User_List" />
    from tbl_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <!--根据account查询用户-->
  <select id="selectUserByAccount" parameterType="String" resultMap="UserMap">
    select
    <include refid="User_list"/>
    from tbl_user
    where account=#{account}
  </select>
  <!--分页查询所有用户-->
  <select id="selectUser" resultMap="UserMap" parameterType="com.example.demo.base.pojo.QueryParams">
    select * from tbl_user
    <if test="where !=null ">
    where ${where}
    </if>
    order by
    <if test="order !=null ">
      ${order},
    </if>
    create_time desc
  </select>
  <!--软删除用户-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <update id="deleteUserInIds" parameterType="String">
    update tbl_user set is_deleted=2 where user_id in ($(userIds))
  </update>
  <insert id="insert" parameterType="com.example.demo.pojo.User" >
    insert into tbl_user (user_id, user_name, account, 
      user_password, sex, age, 
      birthday, email, ip, lat, 
      lng, create_user_name, create_user_id, 
      create_time, update_user_name, update_user_id, 
      update_time, phone, state, 
      head_img_url, is_deleted, version, 
      remarks)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=CHAR}, #{account,jdbcType=CHAR}, 
      #{userPassword,jdbcType=CHAR}, #{sex,jdbcType=TINYINT}, #{age,jdbcType=TINYINT}, 
      #{birthday,jdbcType=DATE}, #{email,jdbcType=CHAR}, #{ip,jdbcType=INTEGER}, #{lat,jdbcType=DECIMAL}, 
      #{lng,jdbcType=DECIMAL}, #{createUserName,jdbcType=CHAR}, #{createUserId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUserName,jdbcType=CHAR}, #{updateUserId,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{phone,jdbcType=CHAR}, #{state,jdbcType=TINYINT}, 
      #{headImgUrl,jdbcType=INTEGER}, #{isDeleted,jdbcType=TINYINT}, #{version,jdbcType=INTEGER}, 
      #{remarks,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.User" >
    insert into tbl_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="lat != null" >
        lat,
      </if>
      <if test="lng != null" >
        lng,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUserName != null" >
        update_user_name,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="headImgUrl != null" >
        head_img_url,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=CHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=CHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=CHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="age != null" >
        #{age,jdbcType=TINYINT},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="email != null" >
        #{email,jdbcType=CHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=INTEGER},
      </if>
      <if test="lat != null" >
        #{lat,jdbcType=DECIMAL},
      </if>
      <if test="lng != null" >
        #{lng,jdbcType=DECIMAL},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=CHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserName != null" >
        #{updateUserName,jdbcType=CHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=CHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="headImgUrl != null" >
        #{headImgUrl,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.User" >
    update tbl_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=CHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=CHAR},
      </if>
      <if test="userPassword != null" >
        user_password = #{userPassword,jdbcType=CHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=TINYINT},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=CHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=INTEGER},
      </if>
      <if test="lat != null" >
        lat = #{lat,jdbcType=DECIMAL},
      </if>
      <if test="lng != null" >
        lng = #{lng,jdbcType=DECIMAL},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=CHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserName != null" >
        update_user_name = #{updateUserName,jdbcType=CHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="headImgUrl != null" >
        head_img_url = #{headImgUrl,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=CHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.User" >
    update tbl_user
    set user_name = #{userName,jdbcType=CHAR},
      account = #{account,jdbcType=CHAR},
      user_password = #{userPassword,jdbcType=CHAR},
      sex = #{sex,jdbcType=TINYINT},
      age = #{age,jdbcType=TINYINT},
      birthday = #{birthday,jdbcType=DATE},
      email = #{email,jdbcType=CHAR},
      ip = #{ip,jdbcType=INTEGER},
      lat = #{lat,jdbcType=DECIMAL},
      lng = #{lng,jdbcType=DECIMAL},
      create_user_name = #{createUserName,jdbcType=CHAR},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_name = #{updateUserName,jdbcType=CHAR},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      phone = #{phone,jdbcType=CHAR},
      state = #{state,jdbcType=TINYINT},
      head_img_url = #{headImgUrl,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      version = #{version,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=CHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>